<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
          <virtualType name="Magento\Sales\Model\ResourceModel\Order\Grid" type="Magento\Sales\Model\ResourceModel\Grid">
              <arguments>
                  <argument name="columns">
                      <item name="veratad_action" xsi:type="string">sales_order.veratad_action</item>
                  </argument>
              </arguments>
            </virtualType>
        <type name="Magento\Checkout\Model\ShippingInformationManagement">
                  <plugin name="save_to_quote_table_veratad" type="Veratad\AgeVerification\Plugin\Quote\SaveToQuote" sortOrder="100" />
              </type>
              <type name="Magento\Checkout\Block\Checkout\LayoutProcessor">
                  <plugin name="checkout_custom_shipping_fields_veratad" type="Veratad\AgeVerification\Plugin\Checkout\LayoutProcessorPlugin" sortOrder="100" />
              </type>
</config>
