<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="veratad" translate="label" sortOrder="1000">
            <label>Veratad</label>
        </tab>
        <section id="settings" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Settings</label>
            <tab>veratad</tab>
            <resource>Veratad_SystemConfigExample::veratad</resource>
            <group id="general" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <field id="enabled" type="select" translate="label,comment,tooltip" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Enable the Veratad module here.</comment>
                    <tooltip>Once enabled the Veratad module will work for all stores.</tooltip>
                </field>
                <field id="to_verify" type="select" translate="label,comment,tooltip" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Address to Verify</label>
                    <source_model>Veratad\AgeVerification\Model\Config\Source\VerificationType</source_model>
                    <comment>Select which address to verify.</comment>
                </field>
            </group>
            <group id="agematch" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>AgeMatch</label>
                <field id="username" type="text" translate="label" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Username</label>
                    <comment>Veratad API Username.</comment>
                </field>
                <field id="password" type="password" translate="label" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Password</label>
                    <comment>Veratad API Password.</comment>
                </field>
                <field id="agematchrules" type="text" translate="label" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Rules</label>
                    <comment>AgeMatch Rule Set Name.</comment>
                    <tooltip>AgeMatch5_0_RuleSet_YOB, AgeMatch5_0_RuleSet_YOB_SSN, AgeMatch5_0_RuleSet_YOB_SSN_ADDR</tooltip>
                </field>
                <field id="url" type="text" translate="label" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Endpoint</label>
                    <comment>Set the AgeMatch endpoint.</comment>
                </field>
                <field id="agematchattempts" type="text" translate="label" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Total AgeMatch Attempts</label>
                    <comment>Set the amount of AgeMatch attempts allowed per order.</comment>
                </field>
                <field id="dobvisible" type="select" translate="label,comment,tooltip" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Collect DOB at Checkout</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Should Date of Birth be added to the checkout form?</comment>
                  </field>
                  <field id="dobrequired" type="select" translate="label,comment,tooltip" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                      <label>Require DOB at Checkout</label>
                      <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                      <comment>Should Date of Birth be required at checkout form?</comment>
                    </field>
                    <field id="dobvisible_additional" type="select" translate="label,comment,tooltip" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Collect DOB at Addtional Attempt</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <comment>Should Date of Birth be added to the additional attempt?</comment>
                      </field>
                      <field id="dobrequired_additional" type="select" translate="label,comment,tooltip" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                          <label>Require DOB at Additional Attempt</label>
                          <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                          <comment>Should Date of Birth be required at additional attempt?</comment>
                        </field>
                        <field id="ssnvisible_additional" type="select" translate="label,comment,tooltip" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                          <label>Collect Last 4 SSN at Addtional Attempt</label>
                          <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                          <comment>Should Last 4 SSN be added to the additional attempt?</comment>
                        </field>
                        <field id="ssnrequired_additional" type="select" translate="label,comment,tooltip" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                          <label>Require Last 4 SSN at Additional Attempt</label>
                          <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                          <comment>Should Last 4 SSN be required at additional attempt?</comment>
                    </field>
            </group>
            <group id="content" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Content Editor</label>
                <field id="agematch_fail_subtitle" type="textarea" translate="label" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>AgeMatch Failure</label>
                    <comment>Introduction text to the user once they failed the first AgeMatch attempt and are about to try again.</comment>
                </field>
                <field id="agematch_success_subtitle" type="textarea" translate="label" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>AgeMatch Second Attempt Success</label>
                    <comment>Text a user will see when they PASS AgeMatch second attempt.</comment>
                </field>
                <field id="agematch_failure_subtitle" type="textarea" translate="label" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>AgeMatch Second Attempt Failure</label>
                    <comment>Text a user will see when they FAIL AgeMatch multiple attempts.</comment>
                </field>
                <field id="agematch_exceeded_subtitle" type="textarea" translate="label" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>AgeMatch Attempts Exceeded</label>
                    <comment>Text a user will see when they have no more attempts.</comment>
                </field>
                <field id="dcams_intro" type="textarea" translate="label" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>DCAMS Intro Text</label>
                    <comment>Text that a user will see if right before they upload an ID.</comment>
                </field>
                <field id="dcams_success" type="textarea" translate="label" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>DCAMS Success Text</label>
                    <comment>Text that a user will see if they pass DCAMS instant scan.</comment>
                </field>
                <field id="dcams_failure" type="textarea" translate="label" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>DCAMS Failure Text</label>
                    <comment>Text that a user will see if they fail DCAMS instant scan.</comment>
                </field>
            </group>
              <group id="dcams" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>DCAMS</label>
                <field id="dcams_user" type="text" translate="label" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>DCAMS User</label>
                    <comment>Enter your DCAMS API Username.</comment>
                </field>
                <field id="dcams_pass" type="password" translate="label" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>DCAMS Password</label>
                    <comment>Enter your DCAMS API Password</comment>
                </field>
                <field id="dcams_site_name" type="text" translate="label" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>DCAMS Site Name</label>
                    <comment>If entered then DCAMS will trigger once all AgeMatch atttempts are completed.</comment>
                </field>
                <field id="dcams_rules" type="text" translate="label" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>DCAMS+ Rules</label>
                    <comment>Enter the DCAMS+ ruleset here. If empty the default will be used.</comment>
                </field>
              </group>
              <group id="dialer" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Dialer</label>
                <comment>Enter a state and time to send the dialer message.</comment>
                <field id="dialer_config" translate="label" sortOrder="15" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Create a Dialer</label>
                    <comment>Enter the file, time and state on orders. Times should be UTC like "16:00:00".</comment>
                    <frontend_model>Veratad\AgeVerification\Block\Adminhtml\Menu\Field\Dialer</frontend_model>
                    <backend_model>Veratad\AgeVerification\Block\Adminhtml\Menu\Config\Backend\AgePerState</backend_model>
                </field>
              </group>
            <group id="customer_groups" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Customer Groups</label>
                <comment>Select groups to exclude from verification.</comment>
                <field id="customer_groups" translate="customer_groups" type="multiselect" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                  <source_model>Veratad\AgeVerification\Model\Config\Source\Group\Multiselect</source_model>
                </field>
            </group>
        </section>
          <section id="state_ages" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
              <class>separator-top sd-general-admin-tab-general</class>
              <label>Age to Check</label>
              <tab>veratad</tab>
              <resource>Veratad_AgeVerification::home_page</resource>
              <group id="global" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
              <label>Global Age to Check</label>
              <field id="global_age" type="text" translate="label" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                  <label>Global Age Limit</label>
                  <comment>Add the Global Age Limit here.</comment>
                  <tooltip>If a State or Zip Code exception is not entered this is the age limit that will be used. Make sure to use a "+" sign for the age limit. For example "18+".</tooltip>
              </field>
            </group>
              <group id="age_state" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                  <label>Age State Exceptions</label>
                  <field id="age_to_check" translate="label" sortOrder="15" showInDefault="1" showInWebsite="1" showInStore="1">
                      <label>Create State Age To Check</label>
                      <comment>Make sure you enter the full state name and age like "21+".</comment>
                      <frontend_model>Veratad\AgeVerification\Block\Adminhtml\Menu\Field\AgePerState</frontend_model>
                      <backend_model>Veratad\AgeVerification\Block\Adminhtml\Menu\Config\Backend\AgePerState</backend_model>
                  </field>
              </group>
              <group id="age_zip" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                  <label>Age Zip Code Exceptions</label>
                  <field id="age_to_check_zip" translate="label" sortOrder="15" showInDefault="1" showInWebsite="1" showInStore="1">
                      <label>Create Zip Age To Check</label>
                      <comment>You can enter either one zip code or a range like 10001-10007.</comment>
                      <frontend_model>Veratad\AgeVerification\Block\Adminhtml\Menu\Field\AgePerZip</frontend_model>
                      <backend_model>Veratad\AgeVerification\Block\Adminhtml\Menu\Config\Backend\AgePerState</backend_model>
                  </field>
              </group>
          </section>
    </system>
</config>
